<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--下标赋值-->
<!--    <bean id="user" class="com.julin.pojo.User">-->
<!--        <constructor-arg index="0" value="julin"/>-->
<!--    </bean>-->

    <!--通过类型创建(不建议)-->
<!--    <bean id="user" class="com.julin.pojo.User">-->
<!--        <constructor-arg type="java.lang.String" value="julin"/>-->
<!--    </bean>-->

    <!--通过引用-->
    <bean id="user" class="com.julin.pojo.User">
        <constructor-arg name="name" value="julin"/>
    </bean>

</beans>