<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="mysqlImpl" class="com.julin.dao.UserDaoMysqlImpl"/> <!--类似于new一个对象-->
   <bean id="oracleImpl" class="com.julin.dao.UserDaoOracleImpl"/>

   <bean id="UserServiceImpl" class="com.julin.service.UserServiceImpl">
      <!--
      ref引用Spring容器中创建好的对象
      value:基本数据类型的值
      -->
      <property name="userDao" ref="mysqlImpl"/>
   </bean>
</beans>